.icon-style {
    font-size: 2rem;
    margin: 0px 2px 0px 2px;
}

.icon-education{
    font-size: 16rem;
}

.line-height{
    line-height:2.5rem;
}

#skill-section{
    background-color: #002333;
}

.skill-icon{
    font-size: 5rem;
    color: whitesmoke;
}

#contact-title{
    color: #3936ab;
}
.my-list{
    list-style: none;
}

.my-link{
    text-decoration: none;
    color: whitesmoke;
}
.my-link:hover{
    text-decoration: none;
    color: whitesmoke;
}